
.item { border-bottom: 1px solid #222; border-top:1px solid #444; }
.item a { color:white; }
.row {text-align:center; white-space: nowrap; padding:6px 0;  }
.row:hover { color:#fff; background-color:#444; }
.item:hover { border-color:#444; }
.icon { width:66px; display:inline-block;  font-size: 28px;
  line-height: 32px;
}
.description { width:114px; font-size:14px; display:inline-block; text-align:left; position:relative; top:-3px; }