.wrgames { font-size:10px; width:100%; line-height:16px;}
.wrgames > div > div > div { display:inline-block;  }
.games { color:#aaa; }
.inline > div { display:inline-block; }
.inline > div:first-child { margin-right:6px; }
.block { line-height:14px; }
