.full, .small, .tiny { padding-top:6px; overflow:hidden;
  color: #fff;
  min-height: 40px;
  background: linear-gradient(90deg,rgba(16,16,16,.8),rgba(33,33,38,.8));
  margin: 0 0 8px;
  border: 1px solid #333;
  border-radius: 3px;
  font-size:14px;
  text-align:center;
  padding:0 16px 8px 16px; 
}

.row1 { display:grid; grid-template-columns: 180px 1fr 1.3fr;  }
.row2 { display:grid; grid-template-columns: 180px 1fr 0.7fr 1fr 1fr; line-height:28px; }
.row3 { display:grid; grid-template-columns: 180px 1fr 0.7fr 1fr 1fr; }

.small {
  padding:8px 16px 16px 16px; 
}
.small > div:nth-child(2) { margin:12px 0 18px 0; }
.small > div:nth-child(4) { margin:8px 0 18px 0; }
.small > div:nth-child(6) { margin:8px 0 0 0; }
.split { display:grid; grid-template-columns: 1fr 1fr;  }
.triple { display:grid; grid-template-columns: 1fr 1fr 1fr; }
.flex { display:flex; flex:1; column-gap:20px;white-space:nowrap; }

.tiny { padding:4px 0 12px 0;  }
.tiny > div:nth-child(2) { margin:12px 0 18px 0; }
.tiny > div:nth-child(4),.tiny > div:nth-child(6),.tiny > div:nth-child(8) { margin:18px 0 6px 0; }
.tiny > div:nth-child(6) { margin:18px 0 6px 0; }
