.startitems { text-align:center; }
.starting > div { display:inline-block; margin:0 3px; vertical-align:top; }
.count {
  background-color:rgba(0,0,0,.8); position:relative; right:-10px; top:-18px; font-size:10px; padding:0px; width:20px; margin-bottom:-12px;
  height:12px; border-radius:4px; pointer-events: none;
}
