.wrapper {
  display: flex;
  justify-content: space-around;
}
.wrapper > div {
  min-width: 28%;
}

.runes1 {
  max-width: 134px;
  margin: 0 auto;
}
.runes {
  max-width: 120px;
  margin: 0 auto;
}
.runes:first-child {
  max-width: 134px;
}
.wrapper > div:nth-child(2) > div:last-child {
  margin-top: 6px;
}
