.keystone {
  width: 48px;
  height: 48px;
  margin-top: 2px;
}
.inner {
  text-align: center;
  width: 48px;
  height: 48px;
  padding-top: 8px;
  margin: auto;
  border: 1px solid #010202;
  border-radius: 8px;
  background-color: #0e1c23;
}
.inner > div {
  margin: auto;
}
.clear {
  opacity: 0;
  color: #eee;
  line-height: 46px;
  text-align: center;
  font-size: 24px;
  position: relative;
  top: -48px;
  right: 0px;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 3px 3px 5px #333;
  font-weight: bold;
}
.keystone:hover > .clear {
  opacity: 1;
  color: #eee;
  pointer-events: none;
  border: 1px solid #eee;
  border-radius: 8px;
}
