.heading { background-color: rgba(13, 13, 19, 0.9); border-bottom:1px solid #444;
  display:grid; grid-template-columns:36px repeat(8,1fr); font-size:12px; text-align:center; }
.skills { display:grid; grid-template-columns: 36px repeat(4,1fr); position:relative; top:-30px; height:0px; }
.skills > div { margin:auto; }
.heading > div:nth-child(2n) { color: #63fc63bf; padding-right:4px; }
.heading > div:nth-child(2n+3) { color: #939bf6; padding-left:9px; }
.heading > div { padding:8px 0; line-height:16px; }
.row { display:grid; grid-template-columns:36px repeat(8,1fr); }
.data { text-align:center; font-size:12px; background: linear-gradient(to RIGHT, rgba(16, 16, 16, .8), rgba(33, 33, 38, 0.8)); }
.data > div:nth-child(even) {background-color:rgba(255,255,255,.05); }
.level { width:36px; background-color: rgba(13, 13, 19, 0.7); height:40px; font-weight:bold;
  font-size:20px; padding-top:8px; border-left:1px solid #555; }
.win { line-height:40px; padding-right:4px; }
.skillsearly > div > div { display:inline-block; width:45px; padding:4px 0; vertical-align:middle; }
.pickrate { color: #939bf6; line-height:23px; padding-left:9px }
.games { color: #aaa; font-size:9px; line-height:9px; padding-left:9px }
