.row { display:grid; grid-template-columns: 1fr 60px 60px; text-align:center;  padding:1px 0; font-size:0px;}
.win > div { line-height:38px; font-size:12px; }
.pick { color: #939bf6; line-height:23px; font-size:12px; }
.games { color: #aaa; font-size:9px; line-height:9px; font-size:9px; }
