 .delta, .time { color:rgba(246, 255, 54, 0.72); }
.delta2 { color:rgba(246, 255, 54, 0.92); }
.pick { color: rgba(147, 155, 246, 1); }
.games { color: #aaa; font-size:9px; }
.noboots { width:48px; height:48px; border: 1px solid #666; border-radius: 8px; padding-top:6px; font-weight:bold; 
  margin:0 auto 4px auto;
}

.cell { width:54px; text-align:center; display:inline-block; font-size:12px; line-height:16px;}

.spells img { display:block; margin: 0 auto 4px auto; }