.types { display:grid; grid-template-columns: 56px 1fr 1fr 1fr; }
.typebutton, .typebuttonactive { text-align:center; text-align:center; border:1px solid #111;line-height:36px; }
.typebuttonactive { background-color:#111; border-color:#666; }

.buttons { display:grid; grid-template-columns:56px 1fr; }

.panel {
  color: white;
  min-height: 40px;
  font-size: 0px;
  background: linear-gradient(to RIGHT, rgba(16, 16, 16, .8), rgba(33, 33, 38, 0.8));
  margin: 0 0 8px 0;
  border: 1px solid #333;
  border-radius: 3px;
  font-size:12px;
}
/* .panel div { font-size:12px; } */

/* .setheadings { margin-left: 56px; }
.setheadings > div { width:222px; display:inline-block; margin-bottom:-3px; }
.setheadings > div:nth-child(1),.setheadings > div:nth-child(2),.setheadings > div:nth-child(3)
{ line-height:36px; text-align:center; border:1px solid #111; }
.setheadings > div:nth-child(1),.setheadings > div:nth-child(3) {background-color:rgba(255,255,255,.05)}
.setheadings > div:nth-child(2) {background-color:rgba(0,0,0,.1)}
.setheading {position:relative; top:72px; height:0px; width:58px; text-align:center; }
 */
/* 
.button { width:100%; display:table; display:flex; text-align:center; font-size:11px; cursor:pointer; }
.button > div { display: table-cell; width:1000px; flex:1;
  background-color: #214753; border: 1px solid #060d0f; color: white; 
  padding: 10px 4px; cursor: pointer; 
  -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; user-select: none;
  white-space:nowrap;
}
.button div:not(:last-child) { border-right: none; }
.button div:hover {  background-color: #57a5bd; }

div.active { background-color: #3a7e93; }

.button { margin-bottom: 8px; } */


.heading { text-align:center; padding-top:38px;}

.button { width:100%; display:table; display:flex; text-align:center; font-size:11px; cursor:pointer; }
.button > div {  flex: 1;
  background-color: #214753; border: 1px solid #060d0f; color: white; 
  padding: 10px 4px; cursor: pointer; 
  -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; user-select: none;
  white-space:nowrap;
}
.button div:not(:last-child) { border-right: none; }
.button div:hover {  background-color: #57a5bd; }
div.active { background-color: #3a7e93; }