.objectives { 
  margin-bottom:6px; padding:6px 6px 6px 6px;
  background: linear-gradient(to RIGHT, rgba(16, 16, 16, .8), rgba(33, 33, 38, 0.8));
  border: 1px solid #333;
  color: #dadada; border-radius:3px; 
}

.objectives table { width:100%; max-width:400px; font-size:13px;line-height:18px; margin:0 auto; text-align:right; }
.objectives th { font-size:15px; line-height:20px;  }
th.pick, th.pick2  { padding-right:12px; }

.objective { text-align:center; width:115px; font-size:12px;}
.pick {color: #939bf6; }
.pick2 { color: #b5abd4; }
.win {color: #63fc63bf; }
.win2 { color: #d8746b; }
