.panel {
  color: white;
  min-height: 40px;
  background: linear-gradient(to RIGHT, rgba(16, 16, 16, .8), rgba(33, 33, 38, 0.8));
  margin: 0 0 8px 0;
  border: 1px solid #333;
  border-radius: 3px;
  font-size:12px;
  line-height:16px;
  display:grid;
  grid-template-columns:78px 1fr;
  padding-top:3px;
  -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
  min-height:113px;
}

.data { font-size:12px; line-height:16px; }

.data { cursor: grab; overflow-x:scroll; overflow-y:hidden; white-space:nowrap; -ms-overflow-style: none; }
.data::-webkit-scrollbar:vertical { display: none; }
.data::-webkit-scrollbar:horizontal { height:8px; }
