.champstats { padding-bottom:12px; }

.champstats { text-align:center; margin-bottom:6px; padding-left:6px; padding-right:6px; }
.champstats { background: linear-gradient(to RIGHT, rgba(48, 66, 65, .2), rgba(28, 68, 86, 0.75));
  background: linear-gradient(to RIGHT, rgba(16, 16, 16, .8), rgba(33, 33, 38, 0.8));
  border: 1px solid #333;
  color: #dadada; border-radius:3px; }


.champstats h2 { font-size:22px; margin:12px 0; }
.champstats > div { font-size:14px; height: 20px; margin-bottom:4px; }
.champstats > div > div { display:inline-block; vertical-align:top; line-height:20px; }
.champstats > div > div:first-child { text-align: right; width: 115px; margin-right: 6px; }
.champstats > div > div:nth-child(2) { position: relative; width: 75px; height: 18px; border: 1px solid #ffffff; background-color: #bdd0e8; }
.champstats > div > div:nth-child(2) > div:first-child { position: absolute; left: 0; right: 0; color: #13052f; font-weight: bold; line-height:16px;}
.champstats > div > div:nth-child(2) > div:nth-child(2)  { height:16px; background-color: #22b2ff; max-width:100%; }
.champstats > div > div:nth-child(3) { width: 65px; font-size: 11px; }