.topstats { text-align:center; margin-bottom:6px;
  background: linear-gradient(to RIGHT, rgba(48, 66, 65, .2), rgba(28, 68, 86, 0.75));
  background: linear-gradient(to RIGHT, rgba(16, 16, 16, .8), rgba(33, 33, 38, 0.8));
  border: 1px solid #333;
  color: #dadada; border-radius:3px;
  padding:0 12px 8px 12px; }
.topstats h1 { color: rgba(187, 178, 99, 1); font-size:28px; }
.topstats strong { color: rgba(187, 178, 99, 1); }
.topstats h2 { font-size:22px; }
.topstats p { font-size:14px; line-height:20px; text-align:justify; text-justify: inter-word;}