.left, .right, .bigleft, .bigright {
  position:fixed; z-index:10; 
  background: linear-gradient(90deg,rgba(33,33,38,.2), rgba(24,24,24,.2));
  border:1px solid rgb(51, 51, 51,.2);
  top:110px; height:600px;
}

.left, .right { width:160px; }
.bigleft, .bigright { width:300px; }
.left { left:calc((100% - 1160px)/4); }
.right { right:calc((100% - 1422px)/4); }

.bigleft { left:calc((100% - 1452px)/4); }
.bigright { right:calc((100% - 1712px)/4); }


@media only screen and (max-width: 1441px) {  
  .left { left:calc((100% - 1368px)/4); }
  .right { right:calc((100% - 1368px)/4); }
}

@media only screen and (max-width: 1365px) {  
  .left { left:calc((100% - 1300px)/4); }
  .right { right:calc((100% - 1300px)/4); }
}

@media only screen and (min-width: 1954px) {  
  .bigleft { left:calc((100% - 1692px)/4); }
  .bigright { right:calc((100% - 1952px)/4); }
}
