.runecell,
.runecellgrey {
  flex: 1;
  height: 86px;
}
/* .runecell > div:first-child,
.runecell > div > div:first-child,
.runecellgrey > div:first-child,
.runecellgrey > div > div:first-child,
.runecell > a > div:first-child,
.runecell > a > div:first-child > div,
.runecellgrey > a > div:first-child,
.runecellgrey > a > div:first-child > div {
  margin: 2px auto 4px auto;
} */

.win {
  color: #63fc63bf;
}
.pick {
  color: #939bf6;
}
.games {
  color: #aaa;
  font-size: 9px;
  margin-bottom: 2px;
}

.runecellgrey {
  opacity: 0.5;
  filter: grayscale(100%);
}
.runecellgrey:hover {
  opacity: 1;
  filter: none;
}
