.clear a {
  display: none;
  color: #dadada;
  margin-top:11px;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 8px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #171d1e;
  border: 1px solid #999;
  display: inline-block;
  vertical-align: top;
}
.clear a:hover { border-color: #57a5bd; }
