a .wrapper, .wrapper {
  -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
  text-align:center; width:64px; cursor:pointer;  border:1px solid #888; font-size:13px; line-height:17px;
  vertical-align:top; padding:4px 0; margin: 0 2px 2px 2px; 
}

.wrapper > div { font-size:19px; font-weight:bold; line-height:22px; margin:0; }
a .wrapper:hover, .wrapper:hover { border-bottom: 3px solid #57a5bd; background-color: #191b1f; margin-bottom:0; }
