.statwrapper { float:left; width:728px; min-height:1px; }

.xlarge, .large { float:left; width:728px; min-height:1px; }
.medium, .small, .xsmall, .tiny { width:728px; min-height:1px; }
.xlarge, .medium { width: 970px; }
.small, .xsmall, .tiny { width: 100%; }
.large { width: 728px; }
.mythic > div { background-color:#57a5bd; display:inline-block; padding:4px; border-radius:8px; font-size:12px; margin-right:6px; margin-bottom:8px; }
/* .xlarge, .large, .medium, .small, .xsmall, .tiny { min-height:100vh;  } */
.placeholder { height:100vh; }