.icon {padding: 6px 12px 0 0; }
.icon svg { width:28px; height:28px; }
.overlay { background-color:#222; position:fixed; left:0; top:0px; right:0; bottom:0; padding:0px 4px; z-index:92; 
text-align:center; }
.cancelwrap { padding:12px 4px; width:100%; }
.cancel { background-color:#111; border:1px solid #333; width:100%; padding:8px 0; }

.box {
  font-size: 16px;
  margin: 0 auto; 
  padding-left: 6px;
  height: 34px;
  font-family: Roboto, Arial, sans-serif;
  width: 95%;
}
.results {  background-color:#111; color:#fff; border:1px solid #111; overflow:hidden;
width:95%; font-size:12px; margin:12px auto; text-align:left; }

.row a { color: #eee; }

.row > div:first-child { display:grid; grid-template-columns: 179px 119px; grid-template-columns: 1.5fr 1fr;  }
.row > div:first-child a > div { padding:4px; line-height:32px; display:flex; }
.row > div:first-child a > div img { margin-right:4px; }
.row > div:first-child > a:nth-child(2) > div { padding-left:16px; }
.row > div:first-child > a:nth-child(2) img:last-child { margin-left:4px; }
.row > div.fullwidth:first-child{ display:block; }
.row a > div:hover { background-color:rgba(0,0,0,.1); }
.row a > div > div {display:inline-block; vertical-align:top; }

.sublinks { margin:0 4px 0 4px; display:grid; grid-template-columns: 1fr 1fr 1fr; grid-column-gap:4px; text-align:center; line-height:24px;  margin-bottom:4px; }

.sublinks > a { color:white; border-radius:4px; }
.sublinks > a:first-child { background-color:#5485e5; }
.sublinks > a:first-child:hover { background-color:#5484e5ad; }
.sublinks > a:nth-child(2) { background-color:#d64545; }
.sublinks > a:nth-child(3) { background-color:#1abc9c; }
.sublinks > a:nth-child(4) { background-color:#9065e5; }
.sublinks > a:hover { color:#fff; }


.regionselector { margin:4px 0;
  display:grid; grid-template-columns: repeat(8,1fr); grid-column-gap:2px; padding:0 2px; text-align:center;
}
.regionselector > div { width:auto; display:inline-block; padding:5px 4px; 

   margin-left:2px; border-radius:4px; color:#fff; cursor:pointer; border-width:1px; border-style:solid; }

.summoner > div:first-child { width:auto; margin-top:3px; margin-right:3px; height:24px; 
  border-width:2px; border-style:solid; margin-right:5px; border-radius:4px; color:#fff; cursor:pointer; padding:0px 3px; line-height:22px; }
  

  .br { background-color:#5485e5; border-color: #5485e5; }
  .euw { background-color:#45b0e5; border-color: #45b0e5; }
  .eune { background-color:#45c5b0; border-color: #45c5b0; }
  .jp { background-color:#d64545; border-color: #d64545; }
  .kr { background-color:#16a085; border-color: #16a085; }
  .lan { background-color:#9065e5; border-color: #9065e5; }
  .las { background-color:#e54594; border-color: #e54594; }
  .na { background-color:#f39c12; border-color: #f39c12; }
  .oce { background-color:#e57a45; border-color: #e57a45; }
  .ph { background-color:#5e32b7; border-color: #5e32b7; }
  .ru { background-color:#e5b045; border-color: #e5b045; }
  .sg { background-color:#708a56; border-color: #708a56; }
  .th { background-color:#c67878; border-color: #c67878; }
  .tr { background-color:#2460d6; border-color: #2460d6; }
  .tw { background-color:#e57a45; border-color: #e57a45; }
  .vn { background-color:#e82222; border-color: #e82222; }
  
  .activebr { background-color:#6485e5; border-color: #eee; }
  .activeeuw { background-color:#55b0e5; border-color: #eee; }
  .activeeune { background-color:#55c5b0; border-color: #eee; }
  .activejp { background-color:#e64545; border-color: #eee; }
  .activekr { background-color:#26a085; border-color: #eee; }
  .activelan { background-color:#a065e5; border-color: #eee; }
  .activelas { background-color:#f54594; border-color: #eee; }
  .activena { background-color:#f3ac12; border-color: #eee; }
  .activeph { background-color:#6e32b7; border-color: #eee; }
  .activeoce { background-color:#f57a45; border-color: #eee;  }
  .activeru { background-color:#f5b045; border-color: #eee; }
  .activesg { background-color:#808a56; border-color: #eee; }
  .activeth { background-color:#d67878; border-color: #eee; }
  .activetw { background-color:#f57a45; border-color: #eee; }
  .activetr { background-color:#3460d6; border-color: #eee; }
  .activevn { background-color:#f82222; border-color: #eee; }
  