.label { position: relative; }

.label:before {
  content: ""; position: absolute; left: 8px; top: -6px; width: 24px; height: 24px; 
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000' fill-rule='evenodd'%3E%3Cpath d='M 682 426 C 682 92.12 181 97 181 426 C 181 754 682 760 681.45 426 L 682 426 L 682 426 Z M 947 841 C 1022 911 910 1014 846 942 L 655 751 C 157 987 -144 420 173 143 C 541 -180 1012 314 756 650 L 947 841 L 947 841 Z'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
}

.search { float:right; font-size:18px; padding-top:4px; width:300px; font-size:12px; }
.search input { width:300px; font-size:15px; padding-left:36px; height:40px; border-radius:20px; padding-right:12px; }
.search a { text-decoration:none;  }


.results { position:relative; top:4px; background-color:white; color:#111; border:1px solid #111; overflow:hidden; z-index:92; }

.row a { color: #111; }
.row a:hover { color:#111; }
.row > div:first-child { width:290px; margin:2px 4px 2px 4px; border-radius:4px; }
.row > div:first-child a { border-radius:4px; }
.row > div:first-child { display:grid; grid-template-columns: 175px 115px; }
.row > div:first-child a > div { padding:4px; line-height:32px; display:flex; }
.row > div:first-child a > div img { margin-right:4px; }
.row > div:first-child > a:nth-child(2) > div { padding-left:16px; }
.row > div:first-child > a:nth-child(2) img:last-child { margin-left:4px; }
.row > div.fullwidth:first-child{ display:block; }

.row a > div:hover { background-color:rgba(0,0,0,.3); }
.row a > div > div {display:inline-block; vertical-align:top; }

.sublinks { display:grid; grid-template-columns: 94px 94px 94px; grid-column-gap:4px; text-align:center; line-height:24px;  margin-bottom:4px; margin-left:4px; }

.sublinks > a { color:white; border-radius:4px; }
.sublinks > a:first-child { background-color:#5485e5; }
.sublinks > a:first-child:hover { background-color:#5484e5ad; }
.sublinks > a:nth-child(2) { background-color:#d64545; }
.sublinks > a:nth-child(3) { background-color:#1abc9c; }
.sublinks > a:nth-child(4) { background-color:#9065e5; }
.sublinks > a:hover { color:#fff; }

.regionselector { margin:4px 0;
    display:grid; grid-template-columns: repeat(8,1fr); grid-column-gap:2px; padding:0 4px; text-align:center;}

.regionselector > div { width:auto; display:inline-block; padding:4px 4px;
  border-width:1px; border-style:solid; border-radius:4px; color:#fff; cursor:pointer; }
.regionselector > div:hover { border-color:#111;  }

.summoner > div:first-child { width:auto; margin-top:3px; margin-right:3px; height:24px; 
  border-width:2px; border-style:solid; margin-right:5px; border-radius:4px; color:#fff; cursor:pointer; padding:0px 3px; line-height:22px; }

.br { background-color:#5485e5; border-color: #5485e5; }
.euw { background-color:#45b0e5; border-color: #45b0e5; }
.eune { background-color:#45c5b0; border-color: #45c5b0; }
.jp { background-color:#d64545; border-color: #d64545; }
.kr { background-color:#16a085; border-color: #16a085; }
.lan { background-color:#9065e5; border-color: #9065e5; }
.las { background-color:#e54594; border-color: #e54594; }
.na { background-color:#f39c12; border-color: #f39c12; }
.oce { background-color:#e57a45; border-color: #e57a45; }
.ph { background-color:#5e32b7; border-color: #5e32b7; }
.ru { background-color:#e5b045; border-color: #e5b045; }
.sg { background-color:#708a56; border-color: #708a56; }
.th { background-color:#c67878; border-color: #c67878; }
.tr { background-color:#2460d6; border-color: #2460d6; }
.tw { background-color:#e57a45; border-color: #e57a45; }
.vn { background-color:#e82222; border-color: #e82222; }

.activebr { background-color:#6485e5; border-color: #111; }
.activeeuw { background-color:#55b0e5; border-color: #111; }
.activeeune { background-color:#55c5b0; border-color: #111; }
.activejp { background-color:#e64545; border-color: #111; }
.activekr { background-color:#26a085; border-color: #111; }
.activelan { background-color:#a065e5; border-color: #111; }
.activelas { background-color:#f54594; border-color: #111; }
.activena { background-color:#f3ac12; border-color: #111; }
.activeph { background-color:#6e32b7; border-color: #111; }
.activeoce { background-color:#f57a45; border-color: #111;  }
.activeru { background-color:#f5b045; border-color: #111; }
.activesg { background-color:#808a56; border-color: #111; }
.activeth { background-color:#d67878; border-color: #111; }
.activetw { background-color:#f57a45; border-color: #111; }
.activetr { background-color:#3460d6; border-color: #111; }
.activevn { background-color:#f82222; border-color: #111; }
