.breadcrumb {
  padding: 6px 6px;
  list-style: none;
  background: rgba(0,0,0,0.3);
  margin:0px;
}

.breadcrumb li {
  display: inline;
  font-size: 12px;
}

.breadcrumb li+li:before {
  padding: 4px 2px 4px 6px;
  color: white;
  content: "/\00a0";
}

.breadcrumb a, .breadcrumb a:visited, .breadcrumb a:active {
  color: white;
  text-decoration: none;
}

