.elo {
  margin: auto;
  width: 40px;
}

.elo > div:nth-child(2) {
  position: relative;
  width: 40px;
  top: -18px;
  line-height: 0px;
  font-size: 14px;
  color: #f2f2f2;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 3px 3px 5px #333;
}
