/* .buttons { font-size:17px; height:31px; 
  overflow: scroll; white-space: nowrap; -ms-overflow-style: none;  scrollbar-width: none; }
.buttons::-webkit-scrollbar { display: none; }
.buttons > div { display:inline-block; margin-right:18px; height:31px;
  -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; 
}
.buttons > div:hover {border-bottom: 3px solid #05e2ff; }
.active { border-bottom: 3px solid #22b2ff;}
.buttons a { color: #f2f2f2;  }
.active a { color:#22b2ff; }
.buttons a:hover { color: #05e2ff; }
.line { border-bottom:1px solid #3a7e93; margin-bottom:18px; margin-top:-2px; margin-left:4px; margin-right:4px; }
 */


.buttons { margin-top:20px; font-size:16px; height:31px;
  overflow: scroll; white-space: nowrap; -ms-overflow-style: none;  scrollbar-width: none; }
.buttons::-webkit-scrollbar { display: none; }
.buttons > div:first-child { margin-left:4px; }
.buttons > div { display:inline-block; margin-right:18px; height:31px;
  -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; 
}
.active { border-bottom: 3px solid #22b2ff;}
.buttons a { color: #f2f2f2;  }
.active a { color:#22b2ff; }
.line { border-bottom:1px solid #3a7e93; margin-bottom:18px; margin-top:-2px; margin-left:4px; margin-right:4px; }