.description { text-shadow: 2px 2px 4px #000; font-size:14px; min-height:177px; }
.description p { font-size:13px; line-height:18px; background-color:rgba(0,0,0,.2); text-align:justify; } 
.description h1 { font-size:28px; line-height:28px; margin-top:0px; margin-bottom:8px; }
.description h2 { font-size:17px; margin-top:0px; margin-bottom:8px; }
.description a { font-weight:bold; }
.champ { float:left; margin-right:6px; }
.mythic, .keystone { margin-top:6px;  text-align:center; }
.mythic > div, .keystone  > div { margin:auto; }